[workspace]
resolver = "3"

members = [
    "ccfkb_lib"
]

[profile.release]
strip = true  # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
lto = true
codegen-units = 1
